.navigation ul {
  display: flex;
}

.navigation li {
  padding: 10px 20px
}

.navigation li:hover {
  cursor: pointer;
}

.navigation li:hover {
  background-color: #f1f1f1;
}

.navigation {
  font-size: 13px;
  color: #999999
}

hr {
  border: none;
  border-top: 1.5px solid #dfdfdf;
  margin: 0
}

nav {
  margin: 0
}

